{% extends "base.html.twig" %}

{% block title %}
	Projets
{% endblock %}

{% block headerTitle %}
	<h1>Créer une tâche</h1>
{% endblock %}

{% block activeProjet %}
	active
{% endblock %}

{% block body %}

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	{{ form_row(formView.title) }}
	{{ form_row(formView.description) }}
	{{ form_row(formView.deadline) }}

	{{ form_row(formView.status) }}
	{{ form_row(formView.employee) }}
	<button class="button button-submit">Ajouter</button>

	{{ form_end(formView) }}

{% endblock %}
